# HAMOYE INTERNSHIP - STAGE A PROJECT CODE

In [1]:
# Importing numpy and pandas respectively
import numpy as np
import pandas as pd

## Question 1

In [60]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

## Question 2

In [3]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [4]:
df = pd.read_csv('fuel_ferc1.csv')
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## Question 3

In [5]:
df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values(ascending=False)

fuel_type_code_pudl
nuclear    4955.157002
oil         168.877086
coal         67.421830
waste        19.518122
other        18.253856
gas          13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4

In [62]:
df['fuel_mmbtu_per_unit'].describe().round(2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

## Question 6

In [7]:
#Checking for missing values in df
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [13]:
# missing values'rows as a percentage of total rows
# 'MRs' means missing rows
MRs_fuel_unit = df['fuel_unit'].isnull().sum()
MRs_fuel_unit

# Total Number of rows in df
tot_no_rows = len(df)
tot_no_rows

29523

In [16]:
((MRs_fuel_unit/tot_no_rows)*100).round(3)

0.61

## Question 7

In [17]:
# Categorical and Mode Imputation
df['fuel_unit'].describe()

count     29343
unique        9
top         mcf
freq      11354
Name: fuel_unit, dtype: object

In [ ]:
df.groupby('report_year')['fuel_type_code_pudl']

## Question 9

In [54]:
# creating a dataframe filtered by coal
df_coal = df[df['fuel_type_code_pudl'] == 'coal']

df_coal_year = df_coal.groupby('report_year')['fuel_cost_per_unit_burned'].sum()
df_coal_year

report_year
1994     14984.572
1995     14571.785
1996     12694.803
1997     43742.178
1998     11902.597
1999     16303.468
2000    100428.831
2001     15109.012
2002      9171.164
2003     30954.110
2004      9632.063
2005     11107.182
2006     12402.684
2007     12965.171
2008     14331.348
2009     45554.858
2010     88627.745
2011     17001.015
2012     17546.097
2013     17629.860
2014     15412.197
2015     13338.235
2016     11100.925
2017     10254.284
2018      9488.197
Name: fuel_cost_per_unit_burned, dtype: float64

In [55]:
((df_coal_year[1998] - df_coal_year[1994])/df_coal_year[1994]) * 100

-20.56765451826049

## Question 10

In [52]:
df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64